{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Customer Information-->
<table class="table">
    <thead>
      <tr>
        <th scope="col">Customer Name</th>
        <th scope="col">Customer Address</th>
        <th scope="col">Meter Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td> 
        <td></td>
        <td></td>
      </tr>
  </table>
<!-- Rates -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Rate Name</th>
        <th scope="col">First Reading</th>
        <th scope="col">Second Reading</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td> 
        <td></td>
        <td></td>
      </tr>
  </table>

{% endblock %}