{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Customer Information-->
<a href="{% url 'data' %}" class="btn btn-primary">Data</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Customer Name</th>
        <th scope="col">Customer Address</th>
        <th scope="col">Meter Number</th>
        <th scope="col">Rate Name</th>
        <th scope="col">First Reading</th>
        <th scope="col">Second Reading</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.customer_name }}</td>
          <td>{{ item.default_street_address1 }}</td>
          <td>{{ item.meter_number }}</td>
          <td>{{ item.day_rate }}</td>
          <td>{{ item.night_rate }}</td>
          <td>{{ item.weekend_Rate }}</td>
        </tr>
      {% endfor %}
  </table>


{% endblock %}